<<<<<<< HEAD
/******************************
ALL STYLES STILL SUBJECT CHANGE
*******************************/
* {
  font-family: 'kuuFont', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: 'kuuFont';
  src: 
    local('Kuu Font'),
    local('Kuu-Font'),
    url('fonts/Bariol_Bold.otf')
    format('truetype');
    font-weight: bold;
}

html {
  width: 100%; 
  height: 100%;
  font-family: 'kuuFont', sans-serif;
}
body{
  color: #fff;
  background-image: url(img/helsinki.png);  
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 16px; 
  font-family: 'kuuFont'; 
}
body p {
  color: #fff;
  text-shadow: 2px 2px 0 grey;
}
body .bkgrd{
  -webkit-filter: blur(5px);
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  /*display: flex;*/
}
header {
  margin: 0 auto;
  max-width: 100%;
  flex-wrap: wrap;
}

nav > .navbar .navbar-inverse {
  background-color: transparent;
}

.header-container{
  display: flex;
  max-width: 100%;
 /*margin: 0 auto;  
  flex-wrap: wrap;*/
}

.logo {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /*margin-left: auto;*/
  margin-right: auto;
  margin-bottom: 20px;  
  display: block;
  max-width: 50%;
  float: left;
}

.logo > img {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 5px grey;

}

/************************************************ 
            Navigation bar-menu style
************************************************/

.navbar.navbar-inverse.kuu {
  overflow: hidden;
  background-color: #333;
}

.navbar.navbar-inverse.kuu {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 2px 4px;
}

.dropdown-nav-btn {
  float: left;
  overflow: hidden;
}

.dropdown-nav-btn#dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;  
}

.nav-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-menu-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#content-container {
  width: 75%;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.container-fluid {
  margin: auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#container-fluidF {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 120px;
}

#getrestaurant.btn.btn-lg.btn-danger{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  -moz-user-select: none;
  background-image: none;
  border: 2px solid #d43f3a;
  font-size: 34px;
  text-shadow: 2px 2px 0 darkgrey;
}

.text-center {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
}

#display.text-center {
  margin-top: 0;
}

#display.text-center > a {
  font-size: 34px;
  color: #fff;
}

.text-center > p {
  font-family: 'kuuFont';
}

.footer .text-center {
  margin-top: 0;
}

.form-control {
  max-width: 65%;
}

/************
Menu Nav
**********/
.containerT > a {
  display: inline-block;
  cursor: pointer;
  position: static !important;;
  overflow: hidden;
  z-index: 1;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 5px 3px 1px;
  transition: 0.4s;
  border: 1px solid darkred;
}


/* Rotate first bar */

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
  opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hide {
  display: none;
}

/*******
Menu Nav end
********/

.form-enter {
  margin:  0 auto;
  margin-right: 3px;
  border: 1px solid darkred;
  /*border-top-right-radius: 5px;*/
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-bottom-left-radius: 5px;*/
  padding: 2px 5px;
  background-color: #d43f3a;
  position: relative;
}

.form-enter > a {
  padding: 3px;
  margin-bottom: 0;

}

.form-enter a:hover, a:visited, a:link, a:active {
  color: #fff;
  text-decoration: none;
  /*box-shadow: 0 10px 5px grey;*/
  /*border: 1px solid darkred;*/
}

.containerT.change {
  position: relative;
  float: right;
}

#myAdd {
  margin-bottom: 10px;
  /*position: absolute;*/
}

#myAdd a {
  color: #fff;
}

#myEdit {
  color: #fff;
  position: absolute;
}

#canned a:hover, a:visited, a:link, a:active {
color: #000;
text-shadow: 2px 2px 0 darkgrey;
font-size: 18px;
}

.btn.btn-primary {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
/*margin-right: 5px;*/
font-size: 24px;
cursor: pointer;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
text-decoration: none;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
-moz-user-select: none;
background-image: none;
outline: none;
/*border: 1px solid transparent;*/
border: none;
border-radius: 15px;
box-shadow: 0 5px #999;
}

#myCancel{
  padding: 3px 5px;
}

#clicker {
  margin-bottom: 20px;
}
#show-all > p {
padding: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height 
}*/

label {
  font-family: 'kuuFont';
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  flex-wrap: wrap;
}*/


/************************************************ 
                Form page CSS
************************************************/
fieldset, legend, label {
  color: black;
  font-family: 'kuuFont';
  margin: 10px 10px 0 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

legend {
  overflow: hidden;
}
label {
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page-header {
  background-color: #d43f3a;
  border: 2px solid darkred;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 10px 5px grey;
  margin: auto;
  margin-bottom: 15px; 
}

.page-header h2 {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 2px grey;
}

#fill-formA {
  text-shadow: 2px 2px 2px #323232;
}

.rest-fields, label {
  text-shadow: 2px 2px 2px grey;
}

button {
  margin: 0 auto;
  padding: 0 auto;
}

.footer-form {  
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  max-height: 20%;
}

.footer-form .text-center-form {
  vertical-align: center;
  text-align: center;
  color: black;
}

#cautionF {
border-bottom: 2px solid red;
text-decoration: none;
/*text-shadow: none;*/
=======
/******************************
ALL STYLES STILL SUBJECT CHANGE
*******************************/
* {
  font-family: 'kuuFont', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: 'kuuFont';
  src: 
    local('Kuu Font'),
    local('Kuu-Font'),
    url('fonts/Bariol_Bold.otf')
    format('truetype');
    font-weight: bold;
}

html {
  width: 100%; 
  height: 100%;
  font-family: 'kuuFont', sans-serif;
}
body{
  color: #fff;
  background-image: url(img/helsinki.png);  
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 16px;  
}
body p {
  color: #fff;
  text-shadow: 2px 2px 0 grey;
}
body .bkgrd{
  -webkit-filter: blur(5px);
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  /*display: flex;*/
}
header {
  margin: 0 auto;
  max-width: 100%;
  flex-wrap: wrap;
}

nav > .navbar .navbar-inverse {
  background-color: transparent;
}

.header-container{
  display: flex;
  max-width: 100%;
 /*margin: 0 auto;  
  flex-wrap: wrap;*/
}

.logo {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /*margin-left: auto;*/
  margin-right: auto;
  margin-bottom: 20px;  
  display: block;
  max-width: 50%;
  float: left;
}

.logo > img {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 5px grey;

}

/************************************************ 
            Navigation bar-menu style
************************************************/

.navbar.navbar-inverse.kuu {
  overflow: hidden;
  background-color: #333;
}

.navbar.navbar-inverse.kuu {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 2px 4px;
}

.dropdown-nav-btn {
  float: left;
  overflow: hidden;
}

.dropdown-nav-btn#dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;  
}

.nav-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-menu-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#content-container {
  width: 75%;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.container-fluid {
  margin: auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#container-fluidF {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 120px;
}

#getrestaurant.btn.btn-lg.btn-danger{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  -moz-user-select: none;
  background-image: none;
  border: 2px solid #d43f3a;
  font-size: 34px;
  text-shadow: 2px 2px 0 darkgrey;
}

.text-center {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
}

#display.text-center {
  margin-top: 0;
}

#display.text-center > a {
  font-size: 34px;
}

.text-center > p {
  font-family: 'kuuFont';
}

.footer .text-center {
  margin-top: 0;
}

.form-control {
  max-width: 65%;
}

/************
Menu Nav
**********/
.containerT > a {
  display: inline-block;
  cursor: pointer;
  position: static !important;;
  overflow: hidden;
  z-index: 1;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 5px 3px 1px;
  transition: 0.4s;
  border: 1px solid darkred;
}


/* Rotate first bar */

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
  opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hide {
  display: none;
}

/*******
Menu Nav end
********/

.form-enter {
  margin:  0 auto;
  margin-right: 3px;
  border: 1px solid darkred;
  /*border-top-right-radius: 5px;*/
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-bottom-left-radius: 5px;*/
  padding: 2px 5px;
  background-color: #d43f3a;
  position: relative;
}

.form-enter > a {
  padding: 3px;
  margin-bottom: 0;

}

.form-enter a:hover, a:visited, a:link, a:active {
  color: #fff;
  text-decoration: none;
  /*box-shadow: 0 10px 5px grey;*/
  /*border: 1px solid darkred;*/
}

.containerT.change {
  position: relative;
  float: right;
}

#myAdd {
  margin-bottom: 10px;
  /*position: absolute;*/
}

#myAdd a {
  color: #fff;
}

#myEdit {
  color: #fff;
  position: absolute;
}

#canned a:hover, a:visited, a:link, a:active {
color: #000;
text-shadow: 2px 2px 0 darkgrey;
font-size: 18px;
}

.btn.btn-primary {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
/*margin-right: 5px;*/
font-size: 24px;
cursor: pointer;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
text-decoration: none;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
-moz-user-select: none;
background-image: none;
outline: none;
/*border: 1px solid transparent;*/
border: none;
border-radius: 15px;
box-shadow: 0 5px #999;
}

#myCancel{
  padding: 3px 5px;
}

#clicker {
  margin-bottom: 20px;
}
#show-all > p {
padding: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height 
}*/

label {
  font-family: 'kuuFont';
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  flex-wrap: wrap;
}*/


/************************************************ 
                Form page CSS
************************************************/
fieldset, legend, label {
  color: black;
  font-family: 'kuuFont';
  margin: 10px 10px 0 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

legend {
  overflow: hidden;
}
label {
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page-header {
  background-color: #d43f3a;
  border: 2px solid darkred;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 10px 5px grey;
  margin: auto;
  margin-bottom: 15px; 
}

.page-header h2 {
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 2px grey;
}

#fill-formA {
  text-shadow: 2px 2px 2px #323232;
}

.rest-fields, label {
  text-shadow: 2px 2px 2px grey;
}

button {
  margin: 0 auto;
  padding: 0 auto;
}

.footer-form {  
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  max-height: 20%;
}

.footer-form .text-center-form {
  vertical-align: center;
  text-align: center;
  color: black;
}

#cautionF {
border-bottom: 2px solid red;
text-decoration: none;
/*text-shadow: none;*/
>>>>>>> ded23724f3d7a5f4b3812b71acd1fb25a76d48a2
}